<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   

</head>
<body>
    <!-- Navbar principal -->
    <nav>
        <div class="nav-wrapper cyan darken-2">
            <a href="/" class="brand-logo center">UFG</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/candidatos">Candidatos</a></li>
                <li><a class="modal-trigger" href="#modal1">Cadastros</a></li>
                <li><a href="/percentual">Votação</a></li>
            </ul>
        </div>
    </nav>

    <!-- Conteúdo EJS -->
    <div class="container">
        <%- body %>

        <!-- Modal Autenticação -->
        <div id="modal1" class="modal">
            <form action="/auth" method="POST">
                <div class="modal-content">
                    <h5>Autenticação</h5>
                    <div>
                        <label for="user">Usuário:</label>
                        <input type="text" id="user" name="user" />
                    </div>
                    <div>
                        <label for="pass">Senha:</label>
                        <input type="password" id="pass" name="pass" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancela</a>
                    <input class="waves-effect waves-green btn-flat" type="submit" value="Ok">
                </div>
            </form>
        </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
          });
    </script>

</body>
</html>

