<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header class="container-fluid">
        <h2>..</h2>
    </header>

    <div class="container">
        <div class="row">
            <%  for (var i in cand) { %>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/img/candidato.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%=cand[i].nome %></h5>
                        <p class="card-text">Partido: <%=cand[i].partido %> / Numero: <%=cand[i].numero %></p>
                        <a href="#" class="btn btn-primary">Confirmar Voto</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>
</html>